* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f5eddc;
  .container {
    // background-color: blue;
    max-width: 1000px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .menu {
      // background-color: #EB1D36;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input{
        font-size: 1em;
      }
      .btn{
        padding: 8px;
        background-color: #a2b5bb;
        font-size: 1em;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
    }
    .list {
      background-color: #a2b5bb;
      border-radius: 8px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .gold{
        opacity: 1;
      }
      div {
        border-radius: 8px;
        background-color: #cfd2cf;
        border: 1px solid black;
        margin: 10px auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        &:hover {
          > span {
            opacity: 1;
          }
        }
        > span {
          opacity: 0;
            transition: opacity 0.3s;
          button {
            cursor: pointer;
            margin: 3px;
            padding: 8px;
            background-color: #FA9494;
            border: none;
            border-radius: 3px;
          }
        }
        p {
          margin: auto;
          width: 80%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
.display{
  width: 100%;
  margin:20px auto;
  background-color: #a2b5bb;
  p{
    background-color: #cfd2cf;
    width: 50%;
    text-align: center;
    margin: auto;
  }
}